article{
    @apply w-full mb-2;
    @apply border border-grey-light rounded; 
    @apply bg-white; 

    h1 {
        @apply text-lg; 
    } 
    .article-header{
        a{
            @apply text-grey-darkest; 
        }
        @apply border-b p-2 border-grey-light;
    }
    .article-content{
        @apply w-full overflow-hidden p-2 font-light; 
        min-height: 60px;
    }
    .article-footer {
        @apply flex justify-end items-center; 
        .btn {
            @apply block w-full
            border-grey-light bg-transparent
            rounded-b text-right
            text-green 
            ; 

            &:hover, &:focus{
                @apply font-bold shadow border-green; 
            }
        }
    }
    .article-nav {
        @apply flex w-full mt-4; 
        ul{
            @apply inline-flex w-full list-reset justify-between;   

            a {
                @apply btn btn-s font-hairline w-full max-w-sm;  
                &:hover, &:focus {
                    @apply btn bg-transparent text-green;   
                }
            } 

            .next {
                a:after {
                    content: '\00a0\00a0\2192'; 
                } 
            }
            .previous {
                a:before {
                    content: '\2190\00a0\00a0'; 
                } 
            }
        }
    }

    .comments-area {
        @apply flex flex-col p-2 border-t border-solid border-grey-light mt-2 ; 
       h2 {
        @apply text-sm;  
       } 

    }
}

.page-archive {
    @media (max-width: 768px){
        @apply flex-col;
    }
    @apply inline-flex; 
}

footer{
    @apply m-4 p-1 font-semibold; 
}

