article{
    @apply m-1 p-2   max-w-xl;   
    min-width: 60rem;
    @apply border border-grey-light rounded; 
    @apply bg-white; 

    h1 {
        @apply text-lg; 
    } 
    .article-header{
        a{
            @apply text-grey-darkest; 
        }
        @apply border-b pb-2 border-grey-light;
    }
    .article-content{
        @apply w-full overflow-hidden py-2 font-light; 
        min-height: 60px;
    }
    .article-footer {
        @apply flex justify-end items-center; 
    }
    .article-nav {
        @apply flex w-full mt-4; 
        ul{
            @apply inline-flex w-full  list-reset justify-between;   

                a {
                    @apply btn btn-s font-hairline w-full max-w-sm;  
                    &:hover, &:focus {
                        @apply btn bg-transparent text-green;   
                    }
                } 

                .next {
                    a:after {
                        content: '\00a0\00a0\2192'; 
                    } 
                }
                .previous {
                    a:before {
                        content: '\2190\00a0\00a0'; 
                    } 
                }
        }
    }
}



footer{
    @apply m-4 p-1 font-semibold; 
}

