.btn{
    @apply py-1 px-1 border border-green cursor-pointer ; 
    @apply text-sm text-white bg-green font-bold;
    @apply flex items-center justify-center;

    &:hover, &:focus{
        @apply bg-transparent text-green;  
    }
}
.btn-m {
    @apply w-1/2;
}
.btn-s {
    @apply w-1/3;
}
