header{
    @apply flex flex-col bg-green items-center;

    .menu-header{
        @apply flex flex-col justify-center;   
        @screen lg {
            @apply flex-row;
        }
        @screen md {
            @apply flex-row ;
        }
    }
    .brand {
        @apply flex items-center justify-center mt-2; 
    }
    h1{
        @apply font-hairline;
    }
    nav{
        @apply w-full flex justify-center text-sm items-center inline-flex; 

        @screen lg {
            @apply justify-end;  
        }

        @screen md {
            @apply justify-end;  
        }

    }
    ul { 
        @apply flex flex-wrap justify-center text-sm; 
        @apply list-reset; 
        @apply cursor-pointer; 
        @screen lg {
            @apply justify-end;  
        }

        @screen md {
            @apply justify-end;  
        }
        li{
            @apply px-2 py-4;
            &:hover, &:focus {
                @apply bg-green-dark;  
            }
        }
    } 
}
/**
 * Drop Down CSS
 */
ul.sub-menu{
    display: none; 
    background-color: inherit;
    width: 15%;
    position: absolute;
    z-index: 1;
}

.menu-item:hover .sub-menu{
    display: block;
}
