@tailwind preflight;

body{
    @apply text-base font-sans bg-grey-lightest text-grey-darker;  
    line-height: 1.375em;
}
a {
    @apply no-underline text-green-lighter; 
    &:hover, &:focus{
        @apply text-white;  
    }
}

@media (max-width: 425px) {
    ul#wp-admin-bar-top-secondary.ab-top-secondary.ab-top-menu{
        display: none;  
    }
}

/***********************************
* All all import component ext css *
***********************************/
$color-quepal : linear-gradient(to right, '#11998e', '#38ef7d');

$primary-color: $color-quepal; 
@import "header.css";
@import "button.css";
@import "section.css";
@import "form.css";
@import "article.css";
@import "widget.css";

.comment-respond > a {
    @apply text-green;

   &:hover, &:focus {
        @apply text-green;  
   } 
}

@tailwind utilities;
@tailwind screens;
