@tailwind preflight;

body{
    @apply text-base font-sans bg-grey-lightest text-grey-darker;  
    line-height: 1.375em;
}
a {
    @apply no-underline text-green-lighter; 
    &:hover, &:focus{
        @apply text-white;  
    }
}

/***********************************
* All all import component ext css *
***********************************/
$color-quepal : linear-gradient(to right, '#11998e', '#38ef7d');

$primary-color: $color-quepal; 
@import "header.css";
@import "button.css";
@import "section.css";
@import "form.css";
@import "article.css";
@import "widget.css";

@tailwind utilities;
@tailwind screens;
